/* yui reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}

/* 4B899E */
/* c3d9ff */

#container
{
	margin: 0 auto;
	width: 780px;
	color: #696969;
	font-family: "segoe ui", arial, helvetica, sans-serif;
	font-size: .8em;
	min-height: 60em;
	border-left: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
}

#nav
{
	/*background-color: #c3d9ff;*/
	border-bottom: 2px solid black;
}

#footer
{
	clear:both;
	padding-top: 3em;
	font-size: .8em;
	text-align:center;
    padding-bottom: 2em;
}

#nav h1 {
	font-variant: small-caps;
	font-size: 1.8em;
	font-weight: bold;
	padding: .3em;
}

#nav #actions {
	float: right;
	padding-top: 1.4em;
	padding-right: .4em;
}

.instr {
	margin: 1em 2em;
	background: #DB7093;
	line-height: 1.5em;
	padding: 2em;
	font-size: 1.8em;
}
.instr li {
	list-style-type: decimal;
	margin-left: 2.5em;
}

.editorinstr {
	background: #a0a0a0;
	padding: 2em;
	margin: 2em;
	margin-top: 1em;
	color: black;
	clear: both;
}
.hide {
	display: none;
}

h2 {
	padding-top: 2em;
	padding-bottom: .5em;
	font-weight: bold;
	font-size: 110%;
}

h3 {
	padding-bottom: .1em;
	font-weight: bold;
}

p {
	padding-bottom: 1em;
}

#about {
	padding-top: 2em;
	width: 550px;
	margin: auto;
}

strong {
	font-weight: bold;
}

.editorcode {
	font-family: Terminus, "Lucida Console", "Courier New", Courier, fixed;
	font-size: 10pt;
}

.section {
    padding-bottom: 1em;
}

#stage {
	padding-top: 1em;
	background-color: #c3d9ff;
}

a, a:visited { color: #4B899E; }

#side {
	float: left;
	height: auto;
	width: 150px;
	min-height: 50em;
}

#main {
	float: left;
	width: 630px;
	min-height: 50em;
}

#editside {
	float: left;
	height: auto;
	width: 500px;
	min-height: 40em;
}

#editmain {
	float: left;
	width: 448px;
	min-height: 40em;
	padding-left: 20px;
}

.pageshadow {
	background-color: #676767;
	height: 910px;
	left: 10px;
	top: 8px;
	position:relative;
	width: 688px;
    margin-bottom: 30px;
}
.page {
	position:relative;
	left: -3px;
	top: -3px;
	background-color: #fff;
	border: 1px solid black;
	width: 685px;
	min-height: 907px;
}

.ws-item 
{
	position:static;
	margin: 11px;
	padding: 11px;
	border: 1px solid white;
	position:relative;
	cursor:pointer;
}

img
{
	position:static;
	border:none;
	vertical-align: middle;
	padding-right: 1px;
	margin:0px;
	padding:0px;
}

.ws-item-body {
	position:static;
	padding: 0px;
	margin: 0px;
	position:relative;
	color:black;
	width:640px;
	background-color: white;
	/*left: -16px;*/
}

.ws-item-actions {
	position: absolute;
	right:0px;
	bottom:-20px;
}

#ws-header h2 {
	font-size: 1.5em;
	padding-left: 1em;
}
#ws-headinfo {
	float: right;
}

.over {
	border: 1px #4B899E dashed;
}

.selected {
	border: 1px #4B899E solid;
	background-color: #c3d9ff;
}

#loading {
	position:fixed;
	top:0px;
	right:0px;
	padding:1em;
	background-color:#cb3b1a;
	color:black;
}

.options-fieldset {
	width: 240px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.options-fieldset label {
	width: 115px;
	float: left;
	margin: 0;
	text-align: right;
	padding-right: .5em;
}

.options-table {
	margin-bottom: 20px;
}

.options-intfield {
	width: 105px;
	padding: 1px;
	text-align: right;
	margin-bottom: 4px;
}
.options-stringfield {
	width: 105px;
	padding: 1px;
	text-align: left;
	margin-bottom: 4px;
}
.options-select {
	width: 115px;
	padding: 1px;
	margin-bottom: 4px;
}
.options-error {
	background-color: #ffcccc;
	border: 2px solid red;
}

.options-save {
	width: 100px;
	margin-top: 18px;
	padding: .22em;
}


.sheet-fieldset {
	width: 240px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.sheet-fieldset label {
	width: 55px;
	float: left;
	margin: 0;
	text-align: right;
	padding-right: .5em;
}

.sheet-table {
	margin-bottom: 20px;
}

.sheet-stringfield {
	width: 165px;
	padding: 1px;
	text-align: left;
	margin-bottom: 4px;
}
.sheet-error {
	background-color: #ffcccc;
	border: 2px solid red;
}

.sheet-save {
	width: 100px;
	margin-top: 18px;
	padding: .22em;
}

.tabbodyinner {
	margin-left: .5em;
	margin-right: .5em;
	margin-bottom: .5em;
	padding: .5em;
    background-color: white;
}

.tabhead {
    border: 1px solid #4b899e;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}

.tabheadfake {
    border: 1px solid #4b899e;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
	color: #696969;
}

.tabheadfake:hover {
    background-color: #4b899e;
    color: white;
}
.tabhead:hover {
    background-color: #4b899e;
    color: white;
}

.active {
    background-color: #4b899e;
    color: white;
}

/************************************************************/


a.button {
	background-color:#F5F5F5;
	border-color:#DEDEDE rgb(187, 187, 187) rgb(191, 191, 191) rgb(222, 222, 222);
	border-style:solid;
	border-width:1px;
	color:#333333;
	cursor:pointer;
	display:block;
	float:right;
	font-size:100%;
	font-weight:bold;
	line-height:130%;
	margin-right: 7px;
	padding:5px 10px 6px;
	text-decoration:none;
}

a.button img {
	padding-right: 6px;
}
a.button:hover {
	background-color:#DFF4FF;
	border:1px solid #A7CEDF;
	color:#336699;
}
a.button:active {
	background-color:#6299C5;
	border:1px solid #6299C5;
	color:#FFFFFF;
}
a.good {
	color:#529214;
}
a.good:hover {
	background-color:#E9EFD1;
	border:1px solid #AACF81;
	color:#529214;
}
a.good:active {
	background-color:#529214;
	border:1px solid #529214;
	color:#FFFFFF;
}
a.bad {
	color:#D12F19;
}
a.bad:hover {
	background:#FBE3E4 none repeat scroll 0%;
	border:1px solid #EF959B;
	color:#D12F19;
}
a.bad:active {
	background-color:#D12F19;
	border:1px solid #D12F19;
	color:#FFFFFF;
}

